<h2>Task Details</h2>

<div *ngIf="task">
  <p>Created at: {{task.creationDatetime}}</p>
</div>

<form *ngIf="task" [formGroup]="updateTaskForm" (ngSubmit)="onUpdate()" >
  <div>
    <label for="title">Title</label>
    <input id="title" type="text" formControlName="title">
  </div>
  <div>
    <label for="detail">Detail</label>
    <input id="detail" type="text" formControlName="detail">
  </div>
  <div>
    <label for="isDone">Done</label>
    <input id="isDone" formControlName="isDone" class="form-check-input me-1" type="checkbox">
  </div>
  <span>List:</span>
  <select id="listId" formControlName="listId" class="form-select" aria-label="List select">
    <option [value]="''">Select a list</option>
    <option *ngFor="let list of lists" [value]="list.id">{{ list.title }}</option>
  </select>
  <button class="btn btn-success" type="submit">Update</button>
</form>

<form *ngIf="task" (ngSubmit)="onDelete()">
  <button id="item-delete-button" class="btn btn-danger" type="submit">Delete</button>
</form>

<app-confirmation-dialog *ngIf="showConfirmation" (confirmed)="onConfirmDeletion($event)"></app-confirmation-dialog>
