<div class="d-flex flex-column">
  <form [formGroup]="addNewListForm" (ngSubmit)="onAddNew()">
    <div>
      <label for="title">Title</label>
      <input id="title" type="text" formControlName="title">
    </div>
    <button class="btn btn-success" type="submit">Add</button>
  </form>
  <ul *ngFor="let listElement of lists" class="list-group">
    <li class="list-group-item">
      <a [routerLink]="['/lists', listElement.id]">
        <label class="form-check-label">{{ listElement.title }}</label>
      </a>
    </li>
  </ul>
</div>
