<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/" class="nav-link">DailyDo</a>
        <li class="nav-item">
          <a routerLink="/lists" class="nav-link">Lists</a>
        </li>
        <li class="nav-item">
          <a routerLink="/groups" class="nav-link">Groups</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onClearData()">Clear Data</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-confirmation-dialog *ngIf="showConfirmation" (confirmed)="onConfirmDeletion($event)"></app-confirmation-dialog>
